@model ScrumToPractice.Domain.Models.CortesiaResultado

@{
    ViewBag.Title = "Results";
}

<h2>Results:</h2>

Correct answers: @Model.Resultado.ToString("N2")%

<hr />

@Html.ActionLink("Try again", "Index", "Practice")

