@model ScrumToPractice.Web.Areas.Administrativo.Models.QuestaoRespostas

@{
    ViewBag.Title = "Questões";
}

<div class="top50">
    <h3>@Model.Questao.Descricao</h3>
</div>

<p class="top20">
    @Html.ActionLink("Nova resposta", "Create", new { idQuestao = Model.Questao.Id })
</p>

<div class="container">
    <div class="row top10">
        <div id="respostas" class="col-sm-12">
            @{Html.RenderPartial("_Respostas", Model.Respostas);}
        </div>
    </div>
</div>

<p>
    @Html.ActionLink("Voltar", "Index", "Questao")
</p>