@model IEnumerable<ScrumToPractice.Domain.Models.QuestaoCorrigidaSimulado>

<h3 class="text-danger">Incorrect Answers:</h3>

@foreach (var questao in Model.Where(x => x.Questao.Correto == false))
{
    <hr class="top40" />
    <h4>@questao.Questao.Questao.Descricao</h4>
    <small>(@questao.Questao.Area.Descricao)</small>

    <div class="table-responsive top10">
        <table class="table">
            <thead>
                <tr>
                    <th>Your Answer</th>
                    <th>Correct Answer</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="w50">
                        @if (questao.SelecaoAluno.Count() > 0)
                        {
                            foreach (var respostaAluno in questao.SelecaoAluno)
                            {
                                @respostaAluno.Resposta.Descricao
                            }
                        }
                        else
                        {
                            @:You do not answered this question
                        }
                    </td>
                    <td class="w50">
                        @foreach (var respostaSistema in questao.SelecaoSistema)
                        {
                            @respostaSistema.Resposta.Descricao
                        }
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
}