@model IEnumerable<ScrumToPractice.Domain.Models.SimResposta>

<hr />
@foreach (ScrumToPractice.Domain.Models.SimResposta item in @Model)
{
    <p>@Html.CheckBox("alternativa", item.SelecaoUsuario, new { id = "Alternativa", @class = "alternativa", value = @item.Id }) @item.Resposta.Descricao</p>
}