
@{
    ViewBag.Title = "Index";
}

<h2>Oração a Santo Expedito</h2>

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <p class="top20">
                Santo Expedito das causas justas e urgentes interceda por mim junto ao Nosso Senhor Jesus Cristo, socorra-me nesta hora de aflição e desespero
            </p>
            <p>
                Santo Expedito
                <ul>
                    <li>vós que sois um Santo guerreiro, </li>
                    <li>vós que sois o Santo dos aflitos, </li>
                    <li>vós que sois o Santo dos desesperados,</li>
                    <li>vós que sois o Santo das causas urgentes, proteja-me.</li>
                </ul>
            </p>
            <p>
                Ajuda-me, dai-me força, coragem e serenidade.
            </p>
            <p>
                Atenda meu pedido (se assim for para o bem espiritual do ser) agora.
            </p>
            <p>
                Santo Expedito! Ajuda-me a superar estas horas difíceis, proteja de todos que possam me prejudicar, proteja minha família.
            </p>
            <p>
                Devolva-me a paz e a tranquilidade.
            </p>
            <p>
                Serei grato pelo resto de minha vida e levarei seu nome a todos que têm fé.
            </p>
            <p>
                Que assim seja, amém!
            </p>
        </div>
    </div>
</div>

