@model ScrumToPractice.Domain.Models.Contato

@{
    ViewBag.Title = "Contact - Thanks";
}

<div class="container">
    <img src="~/Images/image1.jpg" class="img-responsive border-gray" alt="" />
</div>

<div class="alert alert-success top20" role="alert">

    <p>Dear @Model.Nome,</p>
    <p></p>
    <p class="top40">
        We appreciate your comments.<br />
        We will contact you soon!
    </p>

    <h3 class="top30">Thanks!</h3>
</div>