@{
    ViewBag.Title = "Home Page";
}

<img src="~/Images/image3.jpg" class="img-responsive border-gray" alt=""/>

<div class="jumbotron">
    <h2><strong>ScrumToPractice</strong></h2>
    <p class="lead">It's a easy way to learn Scrum</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Courtesy</h2>
        <p>
            You can take a free exam with some sample questions. It's like a full
            version but limited to 20 questions.
        </p>
        <p class="top50"><a class="btn btn-primary" href="/Practice">Free sample</a></p>
    </div>
    <div class="col-md-4">
        <h2>Full Access</h2>
        <p>
            Go now to full access and practice with 140 questions.
            It's devided in sections so you can improve your knowleged faster.
            For 30 days of access you pay only USD 9!
        </p>
        <p>
            @using (@Html.BeginForm("PostToPaypal", "Home"))
            {
                <input type="submit" value="Get full access" class="btn btn-primary" />
            }
        </p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>