@{
    ViewBag.Title = "ScrumToPractice";
}

<img src="~/Images/image3.jpg" class="img-responsive border-gray" alt=""/>

<div class="jumbotron">
    <h2><strong>ScrumToPractice</strong></h2>
    <p class="lead">It's a easy way to learn Scrum</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Courtesy</h2>
        <p class="bloco-home">
            You can take a free exam with some sample questions. It's like a full
            version but limited to 20 questions.
        </p>
        <p><a class="btn btn-primary" href="/Practice">Free sample</a></p>
    </div>
    <div class="col-md-4">
        <h2>Full Access</h2>
        <p class="bloco-home">
            Go now to full access and practice with 140 questions.
            It's devided in sections so you can improve your knowleged faster.
            For 30 days of access you pay lass than USD 8.99!
        </p>
        <p>
            @using (@Html.BeginForm("PostToPaypal", "Home"))
            {
                <input type="submit" value="Get full access" class="btn btn-primary" />
            }
        </p>
    </div>
    <div class="col-md-4">
        <h2>Study Guide</h2>
        <p class="bloco-home">You can study The Scrum Guide provide by Scrum.org or you can choose <a href="http://www.scrumguides.org/download.html" target="_blank">30 different languages</a> at scrum guide.</p>
        <p><a class="btn btn-primary" href="/Guide">Read now</a></p>
    </div>
</div>