@model ScrumToPractice.Web.Models.ConfirmacaoPagamento

@{
    ViewBag.Title = "ScrumToPractice";
}

<div class="alert alert-info top30">
    <h3>Thanks</h3>
    <p class="top40">Now you can take a full access for 30 days.</p>
    <p>A link access was send to @Model.Payment.PayerEmail</p>
    <p class="top20">To start your first exam access any time <a href="/Exam/Exam/?chave=@Model.Cliente.Chave">www.scrumtopractice.com/Exam/Exam/?chave=@Model.Cliente.Chave</a></p>
    <p class="top20"></p>
</div>
<p class="top40">
    @using (Html.BeginForm("Index", "/Exam/Exam"))
    {
        <a href="/Exam/Exam/?chave=@Model.Cliente.Chave" class="btn btn-primary">Start now</a>
    }
</p>
