
@{
    ViewBag.Title = "ScrumToPractice";
}

<div class="container">
    <img src="~/Images/image1.jpg" class="img-responsive border-gray" alt="" />
</div>

<div class="row">
    <div class="col-md-10">
        <h2>Resources</h2>
        <p><strong>The Scrum Guide</strong></p>
        <p class="top20">
            To start learn Scrum, we recommend you read <a href="http://www.scrumguides.org/" target="_blank">Scrum Guide</a>.
        </p>
        <p>You can find it in 30 different languages, but english version is more appropriate becouse the exam is all in english.</p>
    </div>    
</div>
<div class="row top20">
    <div class="col-md-12">
        <a class="btn btn-primary" href="/Guide/Read">Read it now</a>
        <a class="btn btn-primary" href="http://www.scrumguides.org/" target="_blank">Read at ScrumGuide</a>
    </div>
</div>
<div class="row top20">
    <div class="col-md-12">
        <a href="https://www.scrum.org/"><img src="~/Images/scrumorg.jpg" title="scrumorg.com" class="img-responsive" /></a>
    </div>
</div>
