@model IEnumerable<ScrumToPractice.Domain.Models.CorResposta>

<hr />
@foreach (ScrumToPractice.Domain.Models.CorResposta item in @Model)
{
    <p>@Html.CheckBox("alternativa", item.SelecaoUsuario, new { id = "Alternativa", @class = "alternativa", value=@item.Id }) @item.Resposta.Descricao</p>
}