body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.navbar-inverse .navbar-brand {
    color:#999;
}

.white {
    color: #fff;
}

.gray {
    color:#999;
}

.gray a {
    color:#999;
}
.gray a:link {
    color:#999;
}
.gray a:hover {
    color:#fff;
}
.gray a:focus {
    color:#fff;
}

.left40 a .gray:focus {
    color:#fff;
}

glyphicon glyphicon-user gray {
    color:#999;
}
/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* tops */
.top5 { margin-top: 5px; }
.top10 { margin-top: 10px; }
.top15 { margin-top: 15px; }
.top17 { margin-top: 17px; }
.top20 { margin-top: 20px; }
.top30 { margin-top: 30px; }
.top40 { margin-top: 40px; }
.top50 { margin-top: 50px; }
.top60 { margin-top: 60px; }

/* left */
.left5 { margin-left: 5px;}
.left10 { margin-left: 10px; }
.left15 { margin-left: 15px; }
.left17 { margin-left: 17px; }
.left20 { margin-left: 20px; }
.left30 { margin-left: 30px; }
.left40 { margin-left: 40px; }
.left50 { margin-left: 50px; }
.left60 { margin-left: 60px; }

/* width */
.w50 { width: 50% }

